<div class="media-header">
    <div class = 'col-md-8'>
        <h1>Welcome to Blocipedia!</h1>
        <p>A community to create, update, and spread knowledge of the world!</p>
    </div>
</div>
<div class="media-body">
    <ul>With Blocipedia, you'll be able to:</ul>
        <li>Post new articles</li>
        <li>Update existing articles</li>
        <li>Contribute to a team and help others learn!</li>
    <h2>Get started now:</h2>
    <button type = "button", class: 'btn btn-info'>Post A New Article</button> -- <button type = "button", class: 'btn btn-info'>Search our wiki library</button>
</div>
