<div class="media-header">
    <div class = 'col-md-8'>
        <h1>Welcome to Blocipedia!</h1>
        <p>A community to create, update, and spread knowledge of the world!</p>
    </div>
</div>
<div class="media-body">
    <strong><ul>With Blocipedia, you'll be able to:</ul></strong>
        <li>Post new articles</li>
        <li>Update existing articles</li>
        <li>Contribute to a team and help others learn!</li>
    <h2>Get started now:</h2>
    <%= link_to "Post A New Article", new_wiki_path, :class => 'button-links' %> -- <%= link_to "Search our wiki library", wikis_path, :class => 'button-links' %>
</div>
