<h1>Edit Wiki</h1>

<div class="row">
    <% if @wiki.private? %>
        <strong><h3>This Wiki is private.</h3></strong>
    <% end %>
</div>

<div class="col-md-8">
    <%= render partial: 'form', locals: {wiki: @wiki, user: @user } %>
    
<div class="col-md-6">
    <strong><ul>Reminders for posting new Wikis:</ul></strong>
        <li>Admins have the right to delete at any time.</li>
        <li>Keep the information true and factual. Fake news will be deleted.</li>
        <li>Always update with the latest news, and CITE SOURCES!</li>
</div>
